%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_first_files, ["src/pt_eval_lib.erl", "src/pt_base.erl",
                   "src/pt_supp.erl"]}.

{erl_opts, [debug_info,
            warn_export_all,
            %warn_missing_spec,
            warning_as_error,
            {i, "include"},
            {src_dirs, ["src"]}
        ]}.
